@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto", sans-serif;
}


/* Scrollbar effects and the styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* For the Header */
.WebAnalyzer {

  background-image: linear-gradient(to bottom,
      rgb(29, 29, 97),
      rgb(174, 187, 199));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.withinForm:focus-within {
  outline-color: #b1a6a6;
}

.maxContainer {
  padding-right: 5%;
  padding-left: 5%;
}

/* For the Section-List  */

#Dream_Job_Hover:hover #HideIcon {
  display: block;
}

#Dream_Job_Hover:hover .AI_icon {
  transform: scale(0.6);
}

#Dream_Job_Hover {
  transition: all .5s ease-in-out;
}

#HideIcon {
  transition: all 30ms ease-in-out;
  display: none;
}

.AI_icon {
  transition: transform 0.3s ease-in-out;
}